body{
  background-color: rgb(210, 204, 204);
}
.ant-layout-header {
  color: aliceblue;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task-header {
  text-align: center;
  margin: 10px;
}